<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taotieshop.demo.baby.dao.BabyMapper">

  <resultMap id="BaseResultMap" type="com.taotieshop.demo.baby.entity.BabyActive">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="baby_name" jdbcType="VARCHAR" property="babyName" />
    <result column="active_name" jdbcType="VARCHAR" property="activeName" />
    <result column="active_date" jdbcType="INTEGER" property="activeDate" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
  </resultMap>

  <insert id="doAddBabyActive" parameterType="com.taotieshop.demo.baby.entity.BabyActive">
    INSERT INTO ice_baby_active (baby_name, active_name, active_date,open_id)
    VALUES (#{babyName,jdbcType=VARCHAR}, #{activeName,jdbcType=VARCHAR}, #{activeDate},#{openId})
  </insert>

  <select id="queryBabyActive" parameterType="java.lang.String" resultMap="BaseResultMap">
   select id, baby_name, active_name, active_date, open_id from ice_baby_active where open_id = #{openId}
   ORDER BY active_date DESC
   LIMIT 0,50
  </select>
</mapper>