<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taotieshop.demo.dao.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.taotieshop.demo.entity.Goods">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="category_id" jdbcType="INTEGER" property="category_id" />
    <result column="goods_sn" jdbcType="VARCHAR" property="goods_sn" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="brand_id" jdbcType="INTEGER" property="brand_id" />
    <result column="goods_number" jdbcType="INTEGER" property="goods_number" />
    <result column="keywords" jdbcType="VARCHAR" property="keywords" />
    <result column="goods_brief" jdbcType="VARCHAR" property="goods_brief" />
    <result column="is_on_sale" jdbcType="BIT" property="is_on_sale" />
    <result column="add_time" jdbcType="INTEGER" property="add_time" />
    <result column="sort_order" jdbcType="SMALLINT" property="sort_order" />
    <result column="is_delete" jdbcType="BIT" property="is_delete" />
    <result column="attribute_category" jdbcType="INTEGER" property="attribute_category" />
    <result column="counter_price" jdbcType="DECIMAL" property="counter_price" />
    <result column="extra_price" jdbcType="DECIMAL" property="extra_price" />
    <result column="is_new" jdbcType="BIT" property="is_new" />
    <result column="goods_unit" jdbcType="VARCHAR" property="goods_unit" />
    <result column="primary_pic_url" jdbcType="VARCHAR" property="primary_pic_url" />
    <result column="list_pic_url" jdbcType="VARCHAR" property="list_pic_url" />
    <result column="retail_price" jdbcType="DECIMAL" property="retail_price" />
    <result column="sell_volume" jdbcType="INTEGER" property="sell_volume" />
    <result column="primary_product_id" jdbcType="INTEGER" property="primary_product_id" />
    <result column="unit_price" jdbcType="DECIMAL" property="unit_price" />
    <result column="promotion_desc" jdbcType="VARCHAR" property="promotion_desc" />
    <result column="promotion_tag" jdbcType="VARCHAR" property="promotion_tag" />
    <result column="app_exclusive_price" jdbcType="DECIMAL" property="app_exclusive_price" />
    <result column="is_app_exclusive" jdbcType="BIT" property="is_app_exclusive" />
    <result column="is_limited" jdbcType="BIT" property="is_limited" />
    <result column="is_hot" jdbcType="BIT" property="is_hot" />
    <result column="category_name" jdbcType="VARCHAR" property="category_name" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.taotieshop.demo.entity.Goods">
    <result column="goods_desc" jdbcType="LONGVARCHAR" property="goods_desc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, category_id, goods_sn, name, brand_id, goods_number, keywords, goods_brief, is_on_sale, 
    add_time, sort_order, is_delete, attribute_category, counter_price, extra_price, 
    is_new, goods_unit, primary_pic_url, list_pic_url, retail_price, sell_volume, primary_product_id, 
    unit_price, promotion_desc, promotion_tag, app_exclusive_price, is_app_exclusive, 
    is_limited, is_hot
  </sql>
  <sql id="Blob_Column_List">
    goods_desc
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.taotieshop.demo.entity.GoodsExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from nideshop_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.taotieshop.demo.entity.GoodsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,(select t.name from nideshop_category t where t.id = g.category_id) as category_name
    from nideshop_goods g
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.taotieshop.demo.entity.GoodsExample">
    delete from nideshop_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.taotieshop.demo.entity.Goods">
    insert into nideshop_goods (id, category_id, goods_sn, 
      name, brand_id, goods_number, 
      keywords, goods_brief, is_on_sale, 
      add_time, sort_order, is_delete, 
      attribute_category, counter_price, extra_price, 
      is_new, goods_unit, primary_pic_url, 
      list_pic_url, retail_price, sell_volume, 
      primary_product_id, unit_price, promotion_desc, 
      promotion_tag, app_exclusive_price, is_app_exclusive, 
      is_limited, is_hot, goods_desc
      )
    values (#{id,jdbcType=INTEGER}, #{category_id,jdbcType=INTEGER}, #{goods_sn,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{brand_id,jdbcType=INTEGER}, #{goods_number,jdbcType=INTEGER}, 
      #{keywords,jdbcType=VARCHAR}, #{goods_brief,jdbcType=VARCHAR}, #{is_on_sale,jdbcType=BIT}, 
      #{add_time,jdbcType=INTEGER}, #{sort_order,jdbcType=SMALLINT}, #{is_delete,jdbcType=BIT}, 
      #{attribute_category,jdbcType=INTEGER}, #{counter_price,jdbcType=DECIMAL}, #{extra_price,jdbcType=DECIMAL}, 
      #{is_new,jdbcType=BIT}, #{goods_unit,jdbcType=VARCHAR}, #{primary_pic_url,jdbcType=VARCHAR}, 
      #{list_pic_url,jdbcType=VARCHAR}, #{retail_price,jdbcType=DECIMAL}, #{sell_volume,jdbcType=INTEGER}, 
      #{primary_product_id,jdbcType=INTEGER}, #{unit_price,jdbcType=DECIMAL}, #{promotion_desc,jdbcType=VARCHAR}, 
      #{promotion_tag,jdbcType=VARCHAR}, #{app_exclusive_price,jdbcType=DECIMAL}, #{is_app_exclusive,jdbcType=BIT}, 
      #{is_limited,jdbcType=BIT}, #{is_hot,jdbcType=BIT}, #{goods_desc,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.taotieshop.demo.entity.Goods">
    insert into nideshop_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="category_id != null">
        category_id,
      </if>
      <if test="goods_sn != null">
        goods_sn,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="brand_id != null">
        brand_id,
      </if>
      <if test="goods_number != null">
        goods_number,
      </if>
      <if test="keywords != null">
        keywords,
      </if>
      <if test="goods_brief != null">
        goods_brief,
      </if>
      <if test="is_on_sale != null">
        is_on_sale,
      </if>
      <if test="add_time != null">
        add_time,
      </if>
      <if test="sort_order != null">
        sort_order,
      </if>
      <if test="is_delete != null">
        is_delete,
      </if>
      <if test="attribute_category != null">
        attribute_category,
      </if>
      <if test="counter_price != null">
        counter_price,
      </if>
      <if test="extra_price != null">
        extra_price,
      </if>
      <if test="is_new != null">
        is_new,
      </if>
      <if test="goods_unit != null">
        goods_unit,
      </if>
      <if test="primary_pic_url != null">
        primary_pic_url,
      </if>
      <if test="list_pic_url != null">
        list_pic_url,
      </if>
      <if test="retail_price != null">
        retail_price,
      </if>
      <if test="sell_volume != null">
        sell_volume,
      </if>
      <if test="primary_product_id != null">
        primary_product_id,
      </if>
      <if test="unit_price != null">
        unit_price,
      </if>
      <if test="promotion_desc != null">
        promotion_desc,
      </if>
      <if test="promotion_tag != null">
        promotion_tag,
      </if>
      <if test="app_exclusive_price != null">
        app_exclusive_price,
      </if>
      <if test="is_app_exclusive != null">
        is_app_exclusive,
      </if>
      <if test="is_limited != null">
        is_limited,
      </if>
      <if test="is_hot != null">
        is_hot,
      </if>
      <if test="goods_desc != null">
        goods_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="category_id != null">
        #{category_id,jdbcType=INTEGER},
      </if>
      <if test="goods_sn != null">
        #{goods_sn,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="brand_id != null">
        #{brand_id,jdbcType=INTEGER},
      </if>
      <if test="goods_number != null">
        #{goods_number,jdbcType=INTEGER},
      </if>
      <if test="keywords != null">
        #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="goods_brief != null">
        #{goods_brief,jdbcType=VARCHAR},
      </if>
      <if test="is_on_sale != null">
        #{is_on_sale,jdbcType=BIT},
      </if>
      <if test="add_time != null">
        #{add_time,jdbcType=INTEGER},
      </if>
      <if test="sort_order != null">
        #{sort_order,jdbcType=SMALLINT},
      </if>
      <if test="is_delete != null">
        #{is_delete,jdbcType=BIT},
      </if>
      <if test="attribute_category != null">
        #{attribute_category,jdbcType=INTEGER},
      </if>
      <if test="counter_price != null">
        #{counter_price,jdbcType=DECIMAL},
      </if>
      <if test="extra_price != null">
        #{extra_price,jdbcType=DECIMAL},
      </if>
      <if test="is_new != null">
        #{is_new,jdbcType=BIT},
      </if>
      <if test="goods_unit != null">
        #{goods_unit,jdbcType=VARCHAR},
      </if>
      <if test="primary_pic_url != null">
        #{primary_pic_url,jdbcType=VARCHAR},
      </if>
      <if test="list_pic_url != null">
        #{list_pic_url,jdbcType=VARCHAR},
      </if>
      <if test="retail_price != null">
        #{retail_price,jdbcType=DECIMAL},
      </if>
      <if test="sell_volume != null">
        #{sell_volume,jdbcType=INTEGER},
      </if>
      <if test="primary_product_id != null">
        #{primary_product_id,jdbcType=INTEGER},
      </if>
      <if test="unit_price != null">
        #{unit_price,jdbcType=DECIMAL},
      </if>
      <if test="promotion_desc != null">
        #{promotion_desc,jdbcType=VARCHAR},
      </if>
      <if test="promotion_tag != null">
        #{promotion_tag,jdbcType=VARCHAR},
      </if>
      <if test="app_exclusive_price != null">
        #{app_exclusive_price,jdbcType=DECIMAL},
      </if>
      <if test="is_app_exclusive != null">
        #{is_app_exclusive,jdbcType=BIT},
      </if>
      <if test="is_limited != null">
        #{is_limited,jdbcType=BIT},
      </if>
      <if test="is_hot != null">
        #{is_hot,jdbcType=BIT},
      </if>
      <if test="goods_desc != null">
        #{goods_desc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.taotieshop.demo.entity.GoodsExample" resultType="java.lang.Integer">
    select count(*) from nideshop_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update nideshop_goods
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.category_id != null">
        category_id = #{record.category_id,jdbcType=INTEGER},
      </if>
      <if test="record.goods_sn != null">
        goods_sn = #{record.goods_sn,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.brand_id != null">
        brand_id = #{record.brand_id,jdbcType=INTEGER},
      </if>
      <if test="record.goods_number != null">
        goods_number = #{record.goods_number,jdbcType=INTEGER},
      </if>
      <if test="record.keywords != null">
        keywords = #{record.keywords,jdbcType=VARCHAR},
      </if>
      <if test="record.goods_brief != null">
        goods_brief = #{record.goods_brief,jdbcType=VARCHAR},
      </if>
      <if test="record.is_on_sale != null">
        is_on_sale = #{record.is_on_sale,jdbcType=BIT},
      </if>
      <if test="record.add_time != null">
        add_time = #{record.add_time,jdbcType=INTEGER},
      </if>
      <if test="record.sort_order != null">
        sort_order = #{record.sort_order,jdbcType=SMALLINT},
      </if>
      <if test="record.is_delete != null">
        is_delete = #{record.is_delete,jdbcType=BIT},
      </if>
      <if test="record.attribute_category != null">
        attribute_category = #{record.attribute_category,jdbcType=INTEGER},
      </if>
      <if test="record.counter_price != null">
        counter_price = #{record.counter_price,jdbcType=DECIMAL},
      </if>
      <if test="record.extra_price != null">
        extra_price = #{record.extra_price,jdbcType=DECIMAL},
      </if>
      <if test="record.is_new != null">
        is_new = #{record.is_new,jdbcType=BIT},
      </if>
      <if test="record.goods_unit != null">
        goods_unit = #{record.goods_unit,jdbcType=VARCHAR},
      </if>
      <if test="record.primary_pic_url != null">
        primary_pic_url = #{record.primary_pic_url,jdbcType=VARCHAR},
      </if>
      <if test="record.list_pic_url != null">
        list_pic_url = #{record.list_pic_url,jdbcType=VARCHAR},
      </if>
      <if test="record.retail_price != null">
        retail_price = #{record.retail_price,jdbcType=DECIMAL},
      </if>
      <if test="record.sell_volume != null">
        sell_volume = #{record.sell_volume,jdbcType=INTEGER},
      </if>
      <if test="record.primary_product_id != null">
        primary_product_id = #{record.primary_product_id,jdbcType=INTEGER},
      </if>
      <if test="record.unit_price != null">
        unit_price = #{record.unit_price,jdbcType=DECIMAL},
      </if>
      <if test="record.promotion_desc != null">
        promotion_desc = #{record.promotion_desc,jdbcType=VARCHAR},
      </if>
      <if test="record.promotion_tag != null">
        promotion_tag = #{record.promotion_tag,jdbcType=VARCHAR},
      </if>
      <if test="record.app_exclusive_price != null">
        app_exclusive_price = #{record.app_exclusive_price,jdbcType=DECIMAL},
      </if>
      <if test="record.is_app_exclusive != null">
        is_app_exclusive = #{record.is_app_exclusive,jdbcType=BIT},
      </if>
      <if test="record.is_limited != null">
        is_limited = #{record.is_limited,jdbcType=BIT},
      </if>
      <if test="record.is_hot != null">
        is_hot = #{record.is_hot,jdbcType=BIT},
      </if>
      <if test="record.goods_desc != null">
        goods_desc = #{record.goods_desc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update nideshop_goods
    set id = #{record.id,jdbcType=INTEGER},
      category_id = #{record.category_id,jdbcType=INTEGER},
      goods_sn = #{record.goods_sn,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      brand_id = #{record.brand_id,jdbcType=INTEGER},
      goods_number = #{record.goods_number,jdbcType=INTEGER},
      keywords = #{record.keywords,jdbcType=VARCHAR},
      goods_brief = #{record.goods_brief,jdbcType=VARCHAR},
      is_on_sale = #{record.is_on_sale,jdbcType=BIT},
      add_time = #{record.add_time,jdbcType=INTEGER},
      sort_order = #{record.sort_order,jdbcType=SMALLINT},
      is_delete = #{record.is_delete,jdbcType=BIT},
      attribute_category = #{record.attribute_category,jdbcType=INTEGER},
      counter_price = #{record.counter_price,jdbcType=DECIMAL},
      extra_price = #{record.extra_price,jdbcType=DECIMAL},
      is_new = #{record.is_new,jdbcType=BIT},
      goods_unit = #{record.goods_unit,jdbcType=VARCHAR},
      primary_pic_url = #{record.primary_pic_url,jdbcType=VARCHAR},
      list_pic_url = #{record.list_pic_url,jdbcType=VARCHAR},
      retail_price = #{record.retail_price,jdbcType=DECIMAL},
      sell_volume = #{record.sell_volume,jdbcType=INTEGER},
      primary_product_id = #{record.primary_product_id,jdbcType=INTEGER},
      unit_price = #{record.unit_price,jdbcType=DECIMAL},
      promotion_desc = #{record.promotion_desc,jdbcType=VARCHAR},
      promotion_tag = #{record.promotion_tag,jdbcType=VARCHAR},
      app_exclusive_price = #{record.app_exclusive_price,jdbcType=DECIMAL},
      is_app_exclusive = #{record.is_app_exclusive,jdbcType=BIT},
      is_limited = #{record.is_limited,jdbcType=BIT},
      is_hot = #{record.is_hot,jdbcType=BIT},
      goods_desc = #{record.goods_desc,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update nideshop_goods
    set id = #{record.id,jdbcType=INTEGER},
      category_id = #{record.category_id,jdbcType=INTEGER},
      goods_sn = #{record.goods_sn,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      brand_id = #{record.brand_id,jdbcType=INTEGER},
      goods_number = #{record.goods_number,jdbcType=INTEGER},
      keywords = #{record.keywords,jdbcType=VARCHAR},
      goods_brief = #{record.goods_brief,jdbcType=VARCHAR},
      is_on_sale = #{record.is_on_sale,jdbcType=BIT},
      add_time = #{record.add_time,jdbcType=INTEGER},
      sort_order = #{record.sort_order,jdbcType=SMALLINT},
      is_delete = #{record.is_delete,jdbcType=BIT},
      attribute_category = #{record.attribute_category,jdbcType=INTEGER},
      counter_price = #{record.counter_price,jdbcType=DECIMAL},
      extra_price = #{record.extra_price,jdbcType=DECIMAL},
      is_new = #{record.is_new,jdbcType=BIT},
      goods_unit = #{record.goods_unit,jdbcType=VARCHAR},
      primary_pic_url = #{record.primary_pic_url,jdbcType=VARCHAR},
      list_pic_url = #{record.list_pic_url,jdbcType=VARCHAR},
      retail_price = #{record.retail_price,jdbcType=DECIMAL},
      sell_volume = #{record.sell_volume,jdbcType=INTEGER},
      primary_product_id = #{record.primary_product_id,jdbcType=INTEGER},
      unit_price = #{record.unit_price,jdbcType=DECIMAL},
      promotion_desc = #{record.promotion_desc,jdbcType=VARCHAR},
      promotion_tag = #{record.promotion_tag,jdbcType=VARCHAR},
      app_exclusive_price = #{record.app_exclusive_price,jdbcType=DECIMAL},
      is_app_exclusive = #{record.is_app_exclusive,jdbcType=BIT},
      is_limited = #{record.is_limited,jdbcType=BIT},
      is_hot = #{record.is_hot,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>